# CH4 数据源获取（食材准备）

In [2]:
import pandas as pd

## 4.1 外部数据导入

### 4.1.1 Excel数据导入

在导入Excel时，要注意：如果使用文件路径的\，必须要在前面加一个r表示转义符<br>
如果不希望加，也可以用/来替代

In [5]:
df = pd.read_excel(r"C:\Users\ZHOU YUFENG\Documents\Python Scripts\对比Excel学习Python\Excel-Python-Learning-Note\test.xlsx")
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [6]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx")
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

由于Excel有一个Sheet的概念，若要导入Excel有多个Sheet，需明确指明Sheet具体名或序号，以免出现混乱<br>
具体的参数为sheet_name

In [7]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", sheet_name = "Sheet1")
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [8]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", sheet_name = 0)
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

在导入时，行索引也是默认从0开始依次往后，但也可以直接指定具体哪个字段作为索引

In [9]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", sheet_name = 0, 
                   index_col = 0)
df

    年龄 性别       注册时间
编号
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11

在导入时，默认第一行作为列索引，也可以用header方法手动设置列索引<br>
当然，如果数据集本身就不带有标题，则header = None，最后再用df.columns = ["  ", "  ", "  " ]传入

In [10]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", sheet_name = 0,
                   header = 0)
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11

In [11]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", sheet_name = 0,
                   header = None)
df

    0   1   2                    3
0  编号  年龄  性别                 注册时间
1  A1  54   男  2018-08-08 00:00:00
2  A2  16   女  2018-08-09 00:00:00
3  A3  47   女  2018-08-10 00:00:00
4  A4  41   男  2018-08-11 00:00:00

在导入时，如果字段比较多，但只需要部分列时，可以仅选取部分列，用usecols参数来实现，可以以列表形式传递多个值,同样从0开始计数

In [12]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx", usecols = [0,2])
df

   编号 性别
0  A1  男
1  A2  女
2  A3  女
3  A4  男

### 4.1.2 CSV数据导入

Pandas读取csv的方法类似，但还是需要注意如下：<br>
1.默认读取是以逗号分隔的，如果是空格，需要人为指定<br>
2.默认的编码格式是utf-8，如果不是，则需要将编码格式改为encoding = "gbk"<br>
3.如果路径中有汉字，需要添加engine = "python"<br>

In [14]:
df = pd.read_csv("test.csv")
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

In [15]:
df = pd.read_csv("test1.csv",sep = " ")
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

如果仅需要读取几行数据，也可添加参数nrows

In [16]:
df = pd.read_csv("test.csv", nrows = 2)
df

   编号  年龄 性别      注册时间
0  A1  54  男  2018/8/8
1  A2  16  女  2018/8/9

### 4.1.3 TXT数据导入

txt可以用read_table()方法导入，这个方法比较万能，除了txt之外，scv也可以导入

In [17]:
df = pd.read_table("test.txt", sep = " ")
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

In [18]:
df = pd.read_table("test.csv", sep = ",")
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

### 4.1.4 SQL数据导入

In [19]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Aa111111@localhost:3306/db')

In [20]:
sql = "SELECT * FROM Python_learning"
df = pd.read_sql(sql, engine)
df

D:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 519")
  result = self._query(query)

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11

## 4.3熟悉数据

在分析数据前，一定要对数据有充分的认识，至少要了解如下几点：<br>
1.数据的结构是怎么样的<br>
2.每个字段的类型是什么<br>
3.数据的大小是多少（行数×列数）<br>
4.数值型字段的分布情况，文本型字段的计数情况<br>

### 4.3.1宏观了解

一般在查看数据时，用head()方法显示哪些行，默认展示前5行,不过也可以手动在括号中输入自己需要的行数

In [21]:
data_dict = {"编号":["A1","A2","A3","A4","A3","A4","A2"],"年龄":[54,16,47,41,47,41,16],
        "性别":["男","女","女","男","女","男","女"],
        "注册时间":["2018-8-8","2018-8-9","2018-8-10","2018-8-11","2018-8-10","2018-8-11","2018-8-9"]}
df = pd.DataFrame(data_dict)

In [22]:
df.head()

   编号  年龄 性别       注册时间
0  A1  54  男   2018-8-8
1  A2  16  女   2018-8-9
2  A3  47  女  2018-8-10
3  A4  41  男  2018-8-11
4  A3  47  女  2018-8-10

In [23]:
df.head(2)

   编号  年龄 性别      注册时间
0  A1  54  男  2018-8-8
1  A2  16  女  2018-8-9

查看完数据的整体结构后，再使用shape方法来查看行数×列数的情况<br>
但有一点必须要注意的是：Excel在统计时，会把行索引与列索引一起算入<br>
而Python则不会

In [26]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx")
df.shape

(4, 4)

因为不同类型的数据有着不同的数据方法，所以必须用info()要明确各个字段的类型

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
编号      4 non-null object
年龄      4 non-null int64
性别      4 non-null object
注册时间    4 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 208.0+ bytes

通过上面的info方法，可以得到如下信息： <br>
1.行索引index是0-3<br>
2.列索引（字段）共有4个：<br>
分别是，①编号 ②年龄 ③性别 ④注册时间<br>
年龄为int型，注册时间为datetime型，其余均为object类型<br>
3.共占用208bytes<br>

### 4.3.2微观了解

如果变量为数值型变量，则可以查看分布情况<br>
describe()方法可以查看数据中所有数据型变量的分布

In [29]:
df = pd.DataFrame([[20,5000,2],[25,8000,3],[30,9000,3],[28,7000,2]],
                 columns = ["年龄","收入","家庭人数"])
df.describe()

              年龄           收入     家庭人数
count   4.000000     4.000000  4.00000
mean   25.750000  7250.000000  2.50000
std     4.349329  1707.825128  0.57735
min    20.000000  5000.000000  2.00000
25%    23.750000  6500.000000  2.00000
50%    26.500000  7500.000000  2.50000
75%    28.500000  8250.000000  3.00000
max    30.000000  9000.000000  3.00000

文本型变量则采用用value_counts方法，添加参数dropna = False，这样可以观察是否存在NA值

In [30]:
df = pd.read_excel("C:/Users/ZHOU YUFENG/Documents/Python Scripts/对比Excel学习Python/Excel-Python-Learning-Note/test.xlsx")
df['性别'].value_counts(dropna=False)

男    2
女    2
Name: 性别, dtype: int64