# CH8 数据运算（开始烹调）

In [2]:
import pandas as pd

In [6]:
data_dict = {"C1":[1,4],
             "C2":[2,5],
             "C3":[3,6]}
df = pd.DataFrame(data_dict)
df.index = ["S1","S2"]
df

    C1  C2  C3
S1   1   2   3
S2   4   5   6

## 8.1 算术运算

进行一些非常简单的四则运算，实现方法也比较简单

In [7]:
df["C1"] + df["C2"]

S1    3
S2    9
dtype: int64

In [8]:
df["C1"] - df["C2"]

S1   -1
S2   -1
dtype: int64

In [9]:
df["C1"] * df["C2"]

S1     2
S2    20
dtype: int64

In [10]:
df["C1"] / df["C2"]

S1    0.5
S2    0.8
dtype: float64

In [11]:
df["C1"] + 2

S1    3
S2    6
Name: C1, dtype: int64

In [12]:
df["C1"] - 2

S1   -1
S2    2
Name: C1, dtype: int64

In [13]:
df["C1"] * 2

S1    2
S2    8
Name: C1, dtype: int64

In [14]:
df["C1"] / 2

S1    0.5
S2    2.0
Name: C1, dtype: float64

## 8.2 比较运算

与Excel相似，但这里是列与列之间进行比较的

In [15]:
df["C1"] > df["C2"]

S1    False
S2    False
dtype: bool

In [16]:
df["C1"] == df["C2"]

S1    False
S2    False
dtype: bool

In [17]:
df["C1"] <= df["C2"]

S1    True
S2    True
dtype: bool

## 8.3 汇总运算

In [22]:
data_dict = {"C1":[1,4],
             "C2":[2,5],
             "C3":[3,6]}
df = pd.DataFrame(data_dict)
df.index = ["S1","S2"]

### 8.3.1count非空值计数

Python中可以用count()方法，默认统计每一列非空的个数，也可以手动添加axis参数来统计行

In [19]:
df.count()

C1    2
C2    2
C3    2
dtype: int64

In [20]:
df.count(axis = 1)

S1    3
S2    3
dtype: int64

In [21]:
df["C1"].count()

2

### 8.3.2 - 8.3.10

方法使用与count()相同，主要有如下几种方法：<br>
1.求和：sum()<br>
2.求平均：mean()<br>
3.求最大值：max()<br>
4.求最小值：min()<br>
5.求中位数：median()<br>
6.求众数：mode()<br>
7.求方差：var()<br>
8.求百分位数：quantile()，括号内输入百分位数<br>

## 8.4相关性运算

In [23]:
data_dict = {"col1":[1,4,7,10,13],
             "col2":[2,5,8,11,14],
             "col3":[3,6,9,12,15]}
df = pd.DataFrame(data_dict)

可以用corr()方法求出每个字段之间的相关性系数，求出相关性系数矩阵

In [24]:
df["col1"].corr(df["col2"])

1.0

In [25]:
df.corr()

      col1  col2  col3
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
col3   1.0   1.0   1.0