# CH9 时间序列（炒菜计时器）

In [17]:
import pandas as pd
import numpy as np

## 9.1当前时间获取

关于当前时间获取有如下几个信息：<br>
年、月、周、日、小时、分钟、秒

In [1]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 3, 16, 11, 51, 54, 485038)

当然也可以分别用year/ month/ day方法，直接返回当前时间的年、月、日

In [2]:
datetime.now().year

2019

In [3]:
datetime.now().month

3

In [4]:
datetime.now().day

16

如果要返回周数，则需要注意，与周相关的数据有两个： <br>
1.当前时刻是一周中的周几，使用weekday()方法<br>
2.当前时刻所在周在全年中是第几周，使用isocalendar()方法<br>

因为在Python中周几是从0开始计数的，周六返回的是5，为便于理解所以做+1处理

In [5]:
datetime.now().weekday()+1

6

In [6]:
datetime.now().isocalendar()

(2019, 11, 6)

三个数字分别指代的是，2019年第11周的星期6<br>
因为返回的类型是tuple类型，所以也可以用[]，直接出周数

In [7]:
datetime.now().isocalendar()[1]

11

## 9.2指定日期和时间的格式

日期有很多类型，在Excel中也有许多类型，如果需要做转换需要用strftime()方法，具体格式见如下表格<br>

|代码   | 说明 |
| :------| :------ |
|  %H   | 小时（24小时制）[00.23]    | 
|  %I   | 小时（12小时制）[01.12]    | 
|  %M   | 两位数的分钟 [00.59]    | 
|  %S   | 秒[00,61]    |
|  %w   | 星期，从0开始    | 
|  %U   | 每年的第几周（周日为第一天）    |
|  %W   | 每年的第几周（周一为第一天）    | 
|  %F   | %Y-%m-%d的简写，如2018-04-08    |
|  %D   | %m/%d/%y的简写，如04/18/2018    |

In [8]:
datetime.now().date()

datetime.date(2019, 3, 16)

In [9]:
datetime.now().strftime('%Y-%m-%d')

'2019-03-16'

In [10]:
datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2019-03-16 11:54:50'

## 9.3字符串盒时间格式相互转换

这里的转化主要是指字符串与时间格式之间进行转化<br>
1.时间型转字符型用str()<br>
2.字符型转时间型用parse()<br>

In [11]:
now = datetime.now()
print(str(now))
print(type(str(now)))

2019-03-16 11:55:20.432076
<class 'str'>

In [16]:
str_time = "2018-10-14"
print(type(str_time))
from dateutil.parser import parse
parse(str_time)
print(type(parse(str_time)))

<class 'str'>
<class 'datetime.datetime'>

## 9.4时间索引

In [21]:
data = pd.DataFrame(np.arange(1,11), columns = ["num"])
index = pd.DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06', '2018-01-07', 
                         '2018-01-08', '2018-01-09', '2018-01-10'])
data.index = index
data

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018年的数据

In [22]:
data["2018"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018年1月的数据

In [23]:
data["2018-01"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

获取2018.1.1-2018.1.5的数据

In [24]:
data["2018-01-01":"2018-01-05"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5

获取2018.1.1的数据

In [25]:
data["2018-01-01":"2018-01-01"]

            num
2018-01-01    1

当然，以上方法仅适用于索引为时间的前提下，但并非所有情况，时间都适合作为索引<br>
在这样的情况下，可以使用布尔索引进行选取

In [37]:
parse("2018-08-08")

datetime.datetime(2018, 8, 8, 0, 0)

In [38]:
data_dict = {"订单编号":["A1","A2","A3","A4","A5"],
             "客户姓名":["张通","李谷","孙凤","赵恒","王娜"],
             "唯一识别码":[101,102,103,104,105],
             "年龄":[31,45,23,36,21],
             "成交时间":[parse("2018-08-08"),parse("2018-08-09"),parse("2018-8-10"),parse("2018-8-11"),parse("2018-8-11")]}
df = pd.DataFrame(data_dict)
df.index = ["A1","A2","A3","A4","A5"]
df

   订单编号 客户姓名  唯一识别码  年龄       成交时间
A1   A1   张通    101  31 2018-08-08
A2   A2   李谷    102  45 2018-08-09
A3   A3   孙凤    103  23 2018-08-10
A4   A4   赵恒    104  36 2018-08-11
A5   A5   王娜    105  21 2018-08-11

交易时间为2018.8.8的订单

In [41]:
df[df["成交时间"] == datetime(2018,8,8)]

   订单编号 客户姓名  唯一识别码  年龄       成交时间
A1   A1   张通    101  31 2018-08-08

交易时间为2018.8.9之后的订单

In [42]:
df[df["成交时间"] > datetime(2018,8,9)]

   订单编号 客户姓名  唯一识别码  年龄       成交时间
A3   A3   孙凤    103  23 2018-08-10
A4   A4   赵恒    104  36 2018-08-11
A5   A5   王娜    105  21 2018-08-11

交易时间为2018.8.10之前的订单

In [43]:
df[df["成交时间"] < datetime(2018,8,10)]

   订单编号 客户姓名  唯一识别码  年龄       成交时间
A1   A1   张通    101  31 2018-08-08
A2   A2   李谷    102  45 2018-08-09

交易时间为2018.8.8-2018.8.11之间的订单

In [44]:
df[(df["成交时间"] > datetime(2018,8,8))
   &(df["成交时间"] < datetime(2018,8,11)) ]

   订单编号 客户姓名  唯一识别码  年龄       成交时间
A2   A2   李谷    102  45 2018-08-09
A3   A3   孙凤    103  23 2018-08-10

## 9.5时间运算

在实际业务中，经常会用到计算两个时间的差，比如计算某个用户的生命周期<br>
在Python中，两个时间做差，会返回一个timedelta对象，包括天、秒、微秒，如需计算小时、分钟，需要进行换算

In [48]:
cha = datetime(2018,5,21,19,50) - datetime(2018,5,18,20,32)
cha

datetime.timedelta(days=2, seconds=83880)

In [49]:
cha.days

2

In [50]:
cha.seconds

83880

In [51]:
cha.seconds / 3600

23.3

在Python中，如果要对时间进行运算，有两种实现方法：<br>
1.使用timedelta，但只能偏移天、秒、微秒单位的时间<br>
2.使用date offset，这个是Pandas独有的方法，很方便，可以直接实现天、小时、分钟的时间偏移，无需做换算<br>

In [59]:
from datetime import timedelta
date = datetime(2018, 5, 18, 20, 32)

往后推一天

In [54]:
date + timedelta(days = 1)

datetime.datetime(2018, 5, 19, 20, 32)

往后推60秒

In [55]:
date + timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 33)

往前推1天

In [57]:
date - timedelta(days = 1)

datetime.datetime(2018, 5, 17, 20, 32)

往前推60秒

In [58]:
date - timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 31)

In [61]:
from pandas.tseries.offsets import Day,Hour,Minute
date = datetime(2018, 5, 18, 20, 32)

往后推一天

In [62]:
date + Day(1)

Timestamp('2018-05-19 20:32:00')

往后推1小时

In [64]:
date + Hour(1)

Timestamp('2018-05-18 21:32:00')

往后推10分钟

In [63]:
date + Minute(10)

Timestamp('2018-05-18 20:42:00')

往前推1天

In [65]:
date - Day(1)

Timestamp('2018-05-17 20:32:00')

往前推1小时

In [66]:
date - Hour(1)

Timestamp('2018-05-18 19:32:00')

往前推10分钟

In [67]:
date - Minute(10)

Timestamp('2018-05-18 20:22:00')